<div id="<%= dom_id person %>">
  <p>
    <strong>First Name:</strong>
    <%= person.first_name %>
  </p>
  <p>
    <strong>Nick Name:</strong>
    <%= person.nick_name %>
  </p>
  <p>
    <strong>Last Name:</strong>
    <%= person.last_name %>
  </p>
  <p>
    <strong>Given Name:</strong>
    <%= person.given_name %>
  </p>
  <p>
    <strong>Gender:</strong>
    <%= person.gender %>
  </p>
</div>
