<p style="color: green"><%= notice %></p>

<h1>People</h1>

<div id="people">
  <% @people.each do |person| %>
    <%= render 'person', person: person %>
    <p>
      <%= link_to "Show this person", person_path(person) %>
    </p>
    <p>
      <%= link_to "Edit this person", edit_person_path(person) %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New person", new_person_path %>
